*{
    margin:0px;
    padding: 0px;
}
.menu-container{
    background-color: rgb(71, 68, 68);
    padding: 5px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menus{
    display: flex;
    margin: 20px;
}

.logo-photo{
    width:120px ;
}
.item{
    margin-right: 10px;
    padding-right: 7px;
    font-size: 18px;
    cursor: pointer;
}
.item:hover{
    color: rgb(142, 185, 98);
}
.banner-img{
    width: 300px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: ;
    height: 100vh;
    background-image: url("../background.png"),linear-gradient(45deg,#0f0f0f,#161616);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.title{
    font-size: 55px;
    font-weight: bold;

}
.description{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
}
.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    padding: 10px;
}
.some{
    margin-top: 5px;
    margin-bottom: 5px;
}
.title-abouts{
    text-align: center;
    padding: 20px;
    font-size: 50px;
}
.box{
    width: 220px;
    height: 280px;
    box-shadow: 4px 4px 15px 15px rgb(100, 100, 100);
    background-color: black;
    text-align: center;
    color: white;
    padding: 15px;
    border-radius: 15px;
    

}
.icon{
    width: 70px;
}
.gray{
    background-color: gray;
    margin-top: 10px;
}
.box-title{
     padding: 10px;
}
.box-description{
    padding: 5px;
}
.service-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: rgb(29, 29, 29);
    
}
.title-about{
    background-color: rgb(29, 29, 29);
    color: white;
    text-align: center;
    font-size: 50px;
    padding: 20px;
}